.room {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.streamWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.streamList {
  display: flex;
  justify-content: space-evenly;
}

.streamBtnList {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.messageList {
  max-width: 800px;
}
